body {
  font-family: "Times New Roman", sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}

h1 {
	font-size: 64px;
	text-align: center;
	padding: 10px;
}

/*Header 2 is 32px, with grey (#808080) drop shadow (I would use text-shadow property) 
that is offset 4px horizontally, 4px vertically, and 2px blur*/

h2 {
	font-size: 32px;
	text-shadow: 4px 4px 2px #808080;
}